{% extends('base.html.twig') %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="loading" style="display: none;" id="fullPageLoader1">Loading&#8230;</div>

            <div class="col-md-12">
                <h1 class="text-center">Welcome to Home</h1>
            </div>

                {{ form_start(calculatorForm, {'attr': {'class': 'row row-cols-lg-auto g-3 align-items-center', 'action': path('app_home'), 'id': 'calculatorForm'}}) }}

                    <div class="col-12">

                        <div class="input-group">
                            {{ form_row(calculatorForm.first_input) }}
                        </div>
                    </div>

                    <div class="col-5">
                        {{ form_row(calculatorForm.operator) }}
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            {{ form_row(calculatorForm.second_input) }}
                        </div>
                    </div>

                    <div class="col-12 pt-3">
                        <button type="submit" class="btn btn-primary" id="calculatorBtn">Calculate</button>
                    </div>
                {{ form_end(calculatorForm) }}

        </div>

        <div class="row">
            <div class="col-md-12 mt-2">
                <div id="errorBlock"></div>
                <div id="successBlock"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

